<main class="center" id="main">


  <div class="page-area">

      <div class="text-box">
      <pb-article class="browser">
          <h1>Stay on track</h1>
          <p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </pb-article>
      <!-- </article> added article tag> -->
      </div>

      <div class="text-box">
      <pb-article class="browser">
          <h1>Alerts</h1>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </pb-article>
      <!-- </article> added article tag> -->
      </div>

      <div class="text-box">
      <pb-article class="browser">
          <h1>Results</h1>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </pb-article>
      <!-- </article> added pb-article tag> -->
      </div>

      <div class="text-box">
      <pb-article class="browser">
          <h1>Chart</h1>
          <p>
              This app is free!!! And you are the only one holding your data!
          </p>
          <p>
              This app works in English and <i lang="ar" class="idiomatic"> لعاشر ليونيكود </i>  Arabic
          </p><!-- This is an accessibility change for language -->
      </pb-article>
      <!-- </article> added article tag> -->
      </div>

      <div class="text-box">
      <pb-article class="browser">
          <h1>Stay on track</h1>
          <p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </pb-article>
      <!-- </article> added article tag> -->
      </div>

      <div class="text-box">
      <pb-article class="browser">
          <h1>Alerts</h1>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </pb-article>
      <!-- </article> added article tag> -->
      </div>

      <div class="text-box">
      <pb-article class="browser">
          <h1>Results</h1>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </pb-article>
      <!-- </article> added article tag> -->
      </div>

      <section>

          <h1>Donut Chart</h1>
          <div id="chart" class = "dchart"></div>
        </section>
        <div style="text-align: center;" class = "dchart">

      <div class="text-box">
      <article class="browser">
          <h1>Chart</h1>
          <p>
              <canvas id="myChart" width="400" height="400"></canvas>
          </p>

      </article>
      <!-- </article> added article tag Semantic html> -->
      </div>



  </div>

</div>
</main>
